.mrs-typography {
    &.mrs-components-mb {
        width: 100%;

        .mrs-typography-btn {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            &.active {
                button {
                    background: #008DB4;
                    color: #fff;
                }
            }            
            button {
                outline: 1px solid #ababab;
                &:hover {
                    outline: 1px solid #008DB4;
                }
            }

            .mrs-typography-title {
                font-size: 16px;
                font-weight: 600;
            }
                       
        }
    }
}